flows.json
[
    {
        "id": "31a2b7a0070ae174",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "41665c6869376622",
        "type": "mqtt in",
        "z": "31a2b7a0070ae174",
        "name": "",
        "topic": "iot2025_clua_borrajo/temperatura",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "fba8fa8f13a68262",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "80e01e6336c1d867"
            ]
        ]
    },
    {
        "id": "80e01e6336c1d867",
        "type": "switch",
        "z": "31a2b7a0070ae174",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "20",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 260,
        "wires": [
            [
                "e629bd5f224151fc"
            ],
            [
                "0d59291234492b63"
            ]
        ]
    },
    {
        "id": "c6e29d102ad1d9a6",
        "type": "mqtt out",
        "z": "31a2b7a0070ae174",
        "name": "",
        "topic": "iot2025_clua_borrajo/accion_ventanas",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fba8fa8f13a68262",
        "x": 1390,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d59291234492b63",
        "type": "template",
        "z": "31a2b7a0070ae174",
        "name": "cerrar",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "cerrar",
        "output": "str",
        "x": 930,
        "y": 320,
        "wires": [
            [
                "c6e29d102ad1d9a6",
                "7fc62d020cc02e51"
            ]
        ]
    },
    {
        "id": "e629bd5f224151fc",
        "type": "template",
        "z": "31a2b7a0070ae174",
        "name": "abrir",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "abrir",
        "output": "str",
        "x": 930,
        "y": 180,
        "wires": [
            [
                "c6e29d102ad1d9a6",
                "7fc62d020cc02e51"
            ]
        ]
    },
    {
        "id": "7fc62d020cc02e51",
        "type": "debug",
        "z": "31a2b7a0070ae174",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 80,
        "wires": []
    },
    {
        "id": "fba8fa8f13a68262",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "iot2025_clua_borrajo",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]