stack-nodered-mqtt/node-red-data/flows.json
[
    {
        "id": "31a2b7a0070ae174",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d89b2e1a7837e988",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fba8fa8f13a68262",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "iot2025_clua_borrajo",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cf3423d77f0fbf8a",
        "type": "websocket-listener",
        "path": "",
        "wholemsg": "false"
    },
    {
        "id": "2796151a66fc73bc",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "2279b2c9a1737322",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "iot2025_clua_borrajo",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "41665c6869376622",
        "type": "mqtt in",
        "z": "31a2b7a0070ae174",
        "name": "",
        "topic": "iot2025_clua_borrajo/temperatura",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "fba8fa8f13a68262",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "80e01e6336c1d867",
                "153a3750a8569257",
                "c0a32b3e5a2b5caa"
            ]
        ]
    },
    {
        "id": "80e01e6336c1d867",
        "type": "switch",
        "z": "31a2b7a0070ae174",
        "name": "",
        "property": "payload.temperatura",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "20",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 260,
        "wires": [
            [
                "e629bd5f224151fc"
            ],
            [
                "0d59291234492b63"
            ]
        ]
    },
    {
        "id": "c6e29d102ad1d9a6",
        "type": "mqtt out",
        "z": "31a2b7a0070ae174",
        "name": "",
        "topic": "iot2025_clua_borrajo/accion_ventanas",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fba8fa8f13a68262",
        "x": 1390,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d59291234492b63",
        "type": "template",
        "z": "31a2b7a0070ae174",
        "name": "cerrar",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "cerrar",
        "output": "str",
        "x": 930,
        "y": 320,
        "wires": [
            [
                "c6e29d102ad1d9a6",
                "7fc62d020cc02e51"
            ]
        ]
    },
    {
        "id": "e629bd5f224151fc",
        "type": "template",
        "z": "31a2b7a0070ae174",
        "name": "abrir",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "abrir",
        "output": "str",
        "x": 930,
        "y": 180,
        "wires": [
            [
                "c6e29d102ad1d9a6",
                "7fc62d020cc02e51"
            ]
        ]
    },
    {
        "id": "7fc62d020cc02e51",
        "type": "debug",
        "z": "31a2b7a0070ae174",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 80,
        "wires": []
    },
    {
        "id": "153a3750a8569257",
        "type": "debug",
        "z": "31a2b7a0070ae174",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "c0a32b3e5a2b5caa",
        "type": "influxdb out",
        "z": "31a2b7a0070ae174",
        "influxdb": "2279b2c9a1737322",
        "name": "",
        "measurement": "ventana",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 970,
        "y": 560,
        "wires": []
    },
    {
        "id": "20c4f272eea3759f",
        "type": "inject",
        "z": "31a2b7a0070ae174",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperatura\":17, \"estado\":false}",
        "payloadType": "json",
        "x": 510,
        "y": 560,
        "wires": [
            [
                "c0a32b3e5a2b5caa"
            ]
        ]
    },
    {
        "id": "0274c65dff34d086",
        "type": "inject",
        "z": "d89b2e1a7837e988",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "msg",
                "v": "esto es una prueba",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "pruebaa",
        "payloadType": "str",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "43537a59bf307003"
            ]
        ]
    },
    {
        "id": "43537a59bf307003",
        "type": "mqtt out",
        "z": "d89b2e1a7837e988",
        "name": "",
        "topic": "iot2025_clua_borrajo/temperatura",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fba8fa8f13a68262",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "2ed2f5e62b8f6fed",
        "type": "mqtt in",
        "z": "d89b2e1a7837e988",
        "name": "",
        "topic": "iot2025_clua_borrajo/accion_ventanas",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "fba8fa8f13a68262",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "704fc7681f063c13"
            ]
        ]
    },
    {
        "id": "704fc7681f063c13",
        "type": "debug",
        "z": "d89b2e1a7837e988",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 340,
        "wires": []
    }
]